<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Billing</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</head>
<body>
    <ul class="mt-5">
        {% if result %}
        {% for user, file in result.items() %}
            <li style="font-size: 20px; font-family:Arial, Helvetica, sans-serif; font-weight:bold">File Name: {{ user }}   ->    User Id:   {{ file }}</li>
        {% endfor %}
        {% else %}
        <li>No Files have been uploaded</li>
        {% endif %}
    </ul>  
</body>
</html>
